# .gitignore
# Вирт. окружения
venv/
env/
.venv/

# База данных
db.sqlite3

# Питоновский мусор
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Секреты
.env
*.env

# Django static/media
/media/
staticfiles/
