{% extends 'main/base.html' %}

    {% block title %}
    Про нас
    {% endblock %}


    {% block body %}
    <header>
        <h1>О нашей команде</h1>
    </header>

    <div class="main-container">
        <h2>Мы — команда профессионалов!</h2>
        <div class="content">
            <p>Наша команда состоит из опытных специалистов в разных областях. Мы стремимся создавать качественные и уникальные продукты, которые помогут решать ваши задачи.</p>
            <p>Мы работаем в области веб-разработки, дизайна, маркетинга и много других направлений. Наши принципы работы — это честность, профессионализм и всегда результат!</p>
        </div>

        <div class="buttons">
            <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
            <a href="{% url 'contact' %}" class="btn btn-secondary">Контакты</a>
        </div>
    </div>
    {% endblock %}

